In [1]:
import warnings
warnings.filterwarnings("ignore")
from getMatchData import get_match_data
import numpy as np
import pandas as pd
import getPlayersData as gpd
from pprint import pprint
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
players_dataset = pd.read_csv("csv_files/Player Data 20220928.csv")

In [4]:
list_players = players_dataset.playername.unique().tolist()
list_players.remove("unknown player")

In [31]:
def averagePlayersData(player_df, name):
    player_dict = {
        "name": name
    }
    dataset = player_df[player_df.playername == name]
    
    total_games_played = len(dataset)
    total_win = len(dataset[dataset.result==1])
    total_loss = len(dataset[dataset.result==0])
    assists = dataset.assists.sum()
    deaths = dataset.deaths.sum()
    kills = dataset.kills.sum()
    KDA = f"{kills}/{deaths}/{assists}"
    
    red_side = len(dataset[dataset.side == "Red"])
    blue_side = len(dataset[dataset.side == "Blue"])
    
    player_dict.update({
        "games_played": total_games_played,
        "total_wins": total_win,
        "total_losses": total_loss,
        "assists": assists,
        "deaths": deaths,
        "kills": kills,
        "KDA": KDA,
        "red_side": red_side,
        "blue_side": blue_side
    })
    
    return pd.DataFrame(data=[player_dict])

In [32]:
final_df = pd.DataFrame()
# df = averagePlayersData(player_data, "Soboro")
# final_df = final_df.append(df)

In [33]:
for p_name in list_players:
    df = averagePlayersData(players_dataset, p_name)
    final_df = final_df.append(df)

In [34]:
final_df.reset_index(drop=True, inplace=True)

In [35]:
final_df

,name,games_played,total_wins,total_losses,assists,deaths,kills,KDA,red_side,blue_side
0,Soboro,68,22,46,253,210,175,175/210/253,37,31
1,Raptor,45,19,26,278,176,109,109/176/278,29,16
2,Feisty,68,22,46,368,196,155,155/196/368,37,31
3,Gamin,59,21,38,261,136,207,207/136/261,33,26
4,Loopy,59,20,39,438,242,34,34/242/438,30,29
...,...,...,...,...,...,...,...,...,...,...
3159,Akukatt,3,3,0,25,4,9,9/4/25,1,2
3160,Vigil,3,3,0,28,3,26,26/3/28,1,2
3161,Teiyon,3,3,0,29,6,15,15/6/29,1,2
3162,Enryy,3,3,0,45,10,1,1/10/45,1,2
3163,Riberry,3,3,0,19,4,10,10/4/19,2,1